{% if discountList %}
    <div class="games-items top-line">
        <h4><span>Discount packs</span></h4>
        {% for discountP in discountList %}
            <div class="row equal-height equal-height-child">
                <div class="discount-pack container-add-cart">
                    <div class="item-padding col-lg-5 col-sm-12 col-xs-12">

                        {% if discountP.packs[0] is defined %}
                            <div class="text-center">
                                <h3>{{ discountP.packs[0].pack.name }}</h3>
                            </div>

                            {% for pack in discountP.packs[0].pack.packHasItems %}
                                <div class="product-item col-lg-6 col-sm-6 col-xs-6">
                                    <div class="spacer">
                                        {% set discount = pack.product.discount ? ((pack.product.price - pack.product.discount) * 100) / pack.product.price  : null %}
                                        {% if discount %}
                                            <div class="ribbon discount"><div>{{ discount|round }}%</div></div>
                                        {% endif %}
                                        {% if pack.product.isHot %}
                                            <div class="ribbon hot"><div>Hot</div></div>
                                        {% endif %}
                                        <div class="product-media-container">
                                            <div class="product-media-image">
                                                <a title="Spartacus Legends" href="{{ path('product_view', {'id': pack.product.item.id, 'slug': pack.product.item.slug}) }}">
                                                    <img src="{{ asset(pack.product.item.image.path) }}" alt="spartacus_legends" class="browseProductImage">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="product-descr-container">
                                            <h6>{{ pack.product.server.game.name }}</h6>
                                            <h2><a href="{{ path('product_view', {'id': pack.product.item.id, 'slug': pack.product.item.slug}) }}">{{ pack.product.item.name }}</a></h2>
                                            <hr class="line">
                                            <p class="product_s_desc">
                                                {{ pack.product.item.shortDescription }}
                                            </p>
                                            <div class="product-price salesprice">
                                                <div class="price-value">
                                                    <span class="price-desc">Base price: </span>
                                                    <span class="{% if pack.product.discount %}PricebasePrice{% endif %}">${{ pack.product.price|number_format(2, ',') }}</span>
                                                </div>
                                                {% if pack.product.discount %}
                                                    <div class="price-value">
                                                        <span class="price-desc">Sales price: </span>
                                                        <span class="PricesalesPrice">${{ pack.product.discount|number_format(2, ',') }}</span>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                            {% set pack_one = discountP.packs[0].pack %}
                            <div class="item-padding col-lg-12 col-sm-12 col-xs-12">
                                <ul class="discount-price text-center">
                                    {% if pack_one.discount %}
                                        <li><span class="PricesalesPrice">${{ pack_one.discount|number_format(2, ',') }}</span></li>
                                    {% endif %}
                                    <li><span class="{% if pack_one.discount %}PricebasePrice{% endif %}">${{ pack_one.price|number_format(2, ',')  }}</span></li>
                                </ul>
                                {{
                                sonata_block_render(
                                    { 'type': 'app.block.service.cart' },
                                    {
                                        'product': pack_one,
                                        'template': constant('AppBundle\\Block\\CartBlockService::TEMPLATE_BUTTON_IN_DISCOUNT_PACK')
                                    }
                                )
                                }}
                            </div>

                        {% endif %}
                    </div>


                    <div class="product-item col-lg-2 col-sm-12 col-xs-12">
                        <div class="discount-logo center-block">
                            <a href="{{ path('view_game', {'slug': discountP.discount.game.slug}) }}">
                                <img src="{{ asset(discountP.discount.image.path) }}" alt="{{ discountP.discount.name }}">
                            </a>
                        </div>
                    </div>

                    <div class="item-padding col-lg-5 col-sm-12 col-xs-12">

                        {% if discountP.packs[1] is defined %}

                            <div class="text-center">
                                <h3>{{ discountP.packs[1].pack.name }}</h3>
                            </div>

                            {% for pack in discountP.packs[1].pack.packHasItems %}
                                <div class="product-item col-lg-6 col-sm-6 col-xs-6">
                                    <div class="spacer">
                                        {% set discount = pack.product.discount ? ((pack.product.price - pack.product.discount) * 100) / pack.product.price  : null %}
                                        {% if discount %}
                                            <div class="ribbon discount"><div>{{ discount|round }}%</div></div>
                                        {% endif %}
                                        {% if pack.product.isHot %}
                                            <div class="ribbon hot"><div>Hot</div></div>
                                        {% endif %}
                                        <div class="product-media-container">
                                            <div class="product-media-image">
                                                <a title="Spartacus Legends" href="{{ path('product_view', {'id': pack.product.item.id, 'slug': pack.product.item.slug}) }}">
                                                    <img src="{{ asset(pack.product.item.image.path) }}" alt="spartacus_legends" class="browseProductImage">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="product-descr-container">
                                            <h6>{{ pack.product.server.game.name }}</h6>
                                            <h2><a href="{{ path('product_view', {'id': pack.product.item.id, 'slug': pack.product.item.slug}) }}">{{ pack.product.item.name }}</a></h2>
                                            <hr class="line">
                                            <p class="product_s_desc">
                                                {{ pack.product.item.shortDescription }}
                                            </p>
                                            <div class="product-price salesprice">
                                                <div class="price-value">
                                                    <span class="price-desc">Base price: </span>
                                                    <span class="{% if pack.product.discount %}PricebasePrice{% endif %}">${{ pack.product.price|number_format(2, ',') }}</span>
                                                </div>
                                                {% if pack.product.discount %}
                                                    <div class="price-value">
                                                        <span class="price-desc">Sales price: </span>
                                                        <span class="PricesalesPrice">${{ pack.product.discount|number_format(2, ',') }}</span>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                            {% set pack_two = discountP.packs[1].pack %}
                            <div class="item-padding col-lg-12 col-sm-12 col-xs-12">
                                <ul class="discount-price text-center">
                                    {% if pack_two.discount %}
                                        <li><span class="PricesalesPrice">${{ pack_two.discount|number_format(2, ',') }}</span></li>
                                    {% endif %}
                                    <li><span class="{% if pack_two.discount %}PricebasePrice{% endif %}">${{ pack_two.price|number_format(2, ',')  }}</span></li>
                                </ul>

                                {{
                                sonata_block_render(
                                    { 'type': 'app.block.service.cart' },
                                    {
                                        'product': pack_two,
                                        'template': constant('AppBundle\\Block\\CartBlockService::TEMPLATE_BUTTON_IN_DISCOUNT_PACK')
                                    }
                                )
                                }}
                            </div>

                        {% endif %}
                    </div>

                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}