{% if games and showGames %}
    <div class="games-items top-line">
        <h4><span>Top Games</span></h4>
        {% for game in games %}
            {% if game.products %}
                <div class="row equal-height equal-height-child">
                    <div class="game-item col-lg-2 col-sm-4 col-xs-6">
                        <div class="spacer">
                            <img src="{{ asset(game.game.image.getPath()) }}" alt="{{ game.game.name }}" class="bg">

                            <div class="game">
                                <div class="text">
                                    <a href="{{ path('view_game', { 'slug': game.game.slug }) }}">
                                        <img src="{{ asset(game.game.image.getPath()) }}" alt="{{ game.game.name }}">
                                    </a>
                                    <h2>{{ game.game.name }}</h2>
                                    <p>Path of Exile currency and item selection with 10 minutes delivery. League selection is available!</p>
                                </div>
                            </div>
                            <div class="btn center">
                                <a href="{{ path('view_game', { 'slug': game.game.slug }) }}">See all</a>
                            </div>
                        </div>
                    </div>

                    {% for product in game.products %}
                        {% include 'ProductBundle:Block/include:item.html.twig' with product %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}