{% if products %}
    {% set block_ajax_path = block.page is defined ? sonata_page_ajax_url(block) : block_ajax_url(block) %}
    <div class="games-items top-line">
        <h4><span>Games Items</span></h4>
        <div class="row filter-holder">
            <div class="filter-holder-left col-lg-6 col-sm-6 col-xs-12">
                <label>SELECT GAME</label>
                <select class="item-filter filter-game" data-url="{{ block_ajax_path }}" name="game" data-placeholder="Select a game">
                    <option value="all">All</option>
                    {% for gameL in gameList %}
                        <option value="{{ gameL.id }}">{{ gameL.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="filter-holder-right col-lg-6 col-sm-6 col-xs-12">
                <label>ITEM CATEGORY</label>
                <select class="item-filter filter-category" data-url="{{ block_ajax_path }}" data-placeholder="Select a category">
                    <option value="all">All</option>
                    {% for categoryL in categoryList %}
                        <option value="{{ categoryL.id }}">{{ categoryL.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="row equal-height equal-height-child" id="container-product">
            {% for product in products %}
                {% include 'ProductBundle:Block/include:item.html.twig' with product %}
            {% endfor %}
        </div>
    </div>
{% endif %}