{% if products %}
    <div class="games-items top-line">
        <h4><span>Games Items</span></h4>
        <div class="row filter-holder">
            <div class="filter-holder-left col-lg-6 col-sm-6 col-xs-12">
                <label>SELECT GAME</label>
                <select class="item-filter" data-placeholder="Select a game">
                    <option></option>
                    <option>Fifa 19</option>
                    <option>Counter Strike</option>
                    <option>Diablo 2</option>
                    <option>Diablo3 Ros</option>
                    <option>Path of Exile</option>
                </select>
            </div>

            <div class="filter-holder-right col-lg-6 col-sm-6 col-xs-12">
                <label>ITEM CATEGORY</label>
                <select class="item-filter" data-placeholder="Select a category">
                    <option>All</option>
                    <option>Currency</option>
                    <option>Rune</option>
                    <option>Set</option>
                    <option>Gem</option>
                </select>
            </div>
        </div>

        <div class="row equal-height equal-height-child">
            {% for product in products %}
                <div class="product-item col-lg-2 col-sm-4 col-xs-6">
                    <div class="spacer">
                        {% set discount = product|first.discount ? ((product|first.price - product|first.discount) * 100) / product|first.price  : null %}
                        {% if discount %}
                            <div class="ribbon discount"><div>{{ discount|round }}%</div></div>
                        {% endif %}
                        {% if product|first.isHot %}
                            <div class="ribbon hot"><div>Hot</div></div>
                        {% endif %}
                        <div class="product-media-container">
                            <div class="product-media-image">
                                <a title="Spartacus Legends" href="{{ path('product_view', {'id': product|first.item.id, 'slug': product|first.item.slug}) }}">
                                    <img src="{{ asset(product|first.item.image.getPath()) }}" alt="{{ product|first.item.name }}" class="browseProductImage">
                                </a>
                            </div>
                        </div>
                        <div class="product-descr-container">
                            <h6>{{ product|first.server.game.name }}</h6>
                            <h2><a href="{{ path('product_view', {'id': product|first.item.id, 'slug': product|first.item.slug}) }}">{{ product|first.item.name }}</a></h2>
                            <hr class="line">
                            <p class="product_s_desc">
                                {{ product|first.item.shortDescription|raw }}
                            </p>
                            <div class="product-price salesprice">
                                <div class="price-value">
                                    <span class="price-desc">From price: </span>
                                    <span class="{% if product.min_discount %}PricebasePrice{% endif %}">${{ product.min_price|number_format(2, ',') }}</span>
                                </div>
                                {% if product.min_discount %}
                                    <div class="price-value">
                                        <span class="price-desc">Sales price: </span>
                                        <span class="PricesalesPrice">${{ product.min_discount|number_format(2, ',') }}</span>
                                    </div>
                                {% endif %}
                            </div>
                            <hr class="line item-line">

                            {{
                            sonata_block_render(
                                { 'type': 'app.block.service.cart' },
                                {
                                    'product': product|first,
                                    'template': constant('AppBundle\\Block\\CartBlockService::TEMPLATE_BUTTON_IN_ITEM')
                                }
                            )
                            }}

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}