{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="wrap-topbar">
        <div class="container">
            <div class="row">
                <div class="topbar-left col-xs-8 col-sm-6">
                    <div class="custom">
                        <p>Welcome to the GetFun shop</p>
                    </div>
                </div>
                <div class="topbar-right pull-right col-xs-4 col-sm-6">
                    <div class="languageswitcherload">
                        <div class="mod-languages">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ parent() }}

{% endblock %}

{% block header %}
    <header id="header" class="header">
        {{
            sonata_block_render(
                {
                    'type': 'app.block.service.header'
                }
            )
        }}
    </header>

    {% if page is defined %}
        {% if page.name != 'global' %}
            {{ sonata_page_render_container('header', 'global') }}
        {% endif %}
        {{ sonata_page_render_container('header', page) }}
    {% endif %}


    <div class="header-menu">
        {{ knp_menu_render('header', {'template': 'AppBundle:Menu:main_menu.html.twig'}) }}
    </div>

    {{ block('wrap_bg') }}

{% endblock %}

{% block wrap_bg %}
    <div class="wrap-inner-bg" style="background: url({{ asset('bundles/app/assets/images/bg1.jpg') }}) rgb(247, 248, 250) center repeat-x;">
        <div class="wrap-inner-holder">
            <h1>GAMES</h1>
            <p>Browse the games we are selling in and find the most popular titles highlighted. Select the game you are interested in to see our selection, way of delivery and other useful information.</p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section class="main-body">
        {{ parent() }}
    </section>

{% endblock %}

{# {% block breadchumbs %}#}

{#     {{#}
{#     sonata_block_render(#}
{#         { 'type': 'app.block.service.breadcrumb' }#}
{#     )#}
{#     }}#}

{# {% endblock %}#}

{% block content_main %}
    <div class="container">

        {% if content is defined and content|length > 0 %}
            {{ content|raw }}
        {% endif %}

        {% if page is defined %}
            {% if page.name != 'global' %}
                {{ sonata_page_render_container('content_main', 'global') }}
            {% endif %}
            {{ sonata_page_render_container('content_main', page) }}
        {% endif %}
    </div>
{% endblock %}

{% block content_bottom %}
    {% if page is defined %}
        {% if page.name != 'global' %}
            {{ sonata_page_render_container('content_bottom', 'global') }}
        {% endif %}
        {{ sonata_page_render_container('content_bottom', page) }}
    {% endif %}
{% endblock %}

{% block footer %}
    <footer class="footer">
        {% if page is defined %}
            {% if page.name != 'global' %}
                {{ sonata_page_render_container('footer', 'global') }}
            {% endif %}
            {{ sonata_page_render_container('footer', page) }}
        {% endif %}

        {{
            sonata_block_render(
                { 'type': 'app.block.service.footer' }
            )
        }}
    </footer>
{% endblock %}

{% block modals %}
    <div class="modal fade" id="modal-cart" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">

    </div><!-- /.modal -->

    <div class="modal fade default-modal" id="modal-add-cart" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">

    </div><!-- /.modal -->
{% endblock %}
