{% extends 'knp_menu.html.twig' %}

{% block list %}
    {% if item.hasChildren and options.depth is not same as(0) and item.displayChildren %}
        {% import 'knp_menu.html.twig' as macros %}
        {{ block('children') }}
    {% endif %}
{% endblock %}

{% block children %}
    {% set currentItem = item %}
    {% for item in currentItem.children %}
        {%- set linkAttributes = item.linkAttributes -%}
        {%- if matcher.isCurrent(item) or matcher.isAncestor(item, options.matchingDepth) %}
            {%- set linkAttributes = linkAttributes|merge({'class': 'active'}) -%}
        {%- endif %}

        {{ block('item') }}
    {% endfor %}
{% endblock %}

{% block item %}
    {% import 'knp_menu.html.twig' as macros %}
    {%- if item.displayed and item.uri is not empty %}
        {%- set finalUri = '://' in item.uri ? item.uri : (item.uri) -%}
        {{ block('linkElement') }}
    {%- endif %}
{% endblock %}

{% block linkElement %}
    {% import 'knp_menu.html.twig' as macros %}

    <li {{ macros.attributes(linkAttributes) }}>
        <a href="{{ finalUri }}">{{ block('label') }}</a>

        {% if item.children is not empty and item.children|length > 0 %}
            <ul class="submenu">
                {% set currentItem = item %}
                {% for item in currentItem.children %}
                    {{ block('item') }}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endblock %}